include *.txt
include *.py
include *.rst
include buildout.cfg
include tox.ini
include .travis.yml
include .coveragerc

recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
